@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Secular+One&display=swap');

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

.header {
    height: 100%;
    min-height: 500px;
}

.hero {
    display: flex;
    height: 100%;
}

.team {
    background-image: linear-gradient(0deg, #135881 30%, #26e6a7 70%);
    background-position: center;
    padding: 80px 72px;
    background-attachment: fixed;
}

.team h2 {
    font-family: 'Secular One', sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 38px;
    margin: 0 auto 48px auto;
    max-width: 1000px;
}

.team_container {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
}

.tem_item {
    flex: 0 0 calc((100% - 40px) / 3);
    padding: 24px 24px 36px 24px;
    background: rgba(0, 0, 0, .2);
    border-radius: 10px;
    transition: background 200ms, box-shadow 150ms;
    color: #fff;
    cursor: pointer;
    margin-right: 20px;
}

.tem_item:last-child {
    margin-right: 0;
}

.tem_item h3 {
    margin: 0 0 10px 0;
    font-weight: 400;
    font-size: 18px;
    font-family: 'Secular One', sans-serif;
}

.tem_item p {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

.tem_item:hover {
    background: #fff;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
    color: #78787a;
}
.team_img {
    height: 52px;
    width: 52px;
    background: #fff;
    border-radius: 50px;
    margin-bottom: 12px;
}

.tem_item:hover .team_img {
    border: 1px solid #dddddd;
}

.hero_content {
    flex: 0 0 55%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero_img {
    flex: 0 0 45%;
    align-self: center;
}

.hero_content h1 {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Secular One', sans-serif;
    font-weight: 400;
    font-size: 43px;
    color: #666;
}

.hero_content h1 span {
    font-weight: 400;
    text-transform: capitalize;
    background: -webkit-linear-gradient(#22a379 30%, #135881 85%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 530px;
    margin: 0 auto;
}

.hero_content p {
    font-family: 'Inter', sans-serif;
    line-height: 1.5;
    color: #202124;
    padding-right: 80px;
    width: 530px;
    margin: 30px auto 0 auto;
}
.hero_img_container {
    height: 430px;
    width: 430px;
    background: #efefef;
    border-radius: 24px;
    box-shadow: 0 14px 15px -12px #767575;
}
.about {
    border-radius: 8px;
    padding: 60px;
    text-align: center;
    background-color: #f8f9fa;
    max-width: 1000px;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
    line-height: 1.5;
    margin-bottom: 60px;
}

.about p + p {
    margin-top: 26px;
}

.about p {
    color: #202124;
    margin: 0 auto;
    max-width: 745px;
    font-size: 18px;
}
.solution {
    display: flex;
    margin: 0 auto;
    max-width: 1000px;
    margin-bottom: 60px;
}

.solution_item {
    border-radius: 24px;
    flex: 0px 1 0;
    margin-right: 64px;
    outline: 1px transparent;
    padding: 36px;
    position: relative;
    text-align: left;
    transition: border-radius 200ms;
    background-image: linear-gradient(90deg, #22a379 30%, #135881 100%);
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
    max-width: 745px;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    line-height: 1.5;
    font-weight: 600;
}

.solution_item:last-child {
    margin-right: 0;
    background-image: linear-gradient(-90deg, #22a379 30%, #135881 100%);
}
.contact {
    background: #f8f9fa;
    padding: 80px 72px;
}

.contact_container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
}

.contact h2 {
    margin: 0 0 28px 0;
    font-size: 38px;
    font-weight: 500;
    letter-spacing: normal;
    line-height: 36px;
    color: #202124;
    font-family: 'Secular One', sans-serif;
}

.contact p {
    color: #5f6368;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    margin: 0 0 48px 0;
}

.contact .btn {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: normal;
    line-height: 20px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 8px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 48px;
    min-width: auto;
    padding: 13px 24px 12px;
    position: relative;
    text-align: left;
    text-decoration: none;
    text-transform: none;
    -webkit-transition: background .5s,box-shadow .2s,color .2s;
    transition: background .5s,box-shadow .2s,color .2s;
    vertical-align: inherit;
    background: #20c18c;
    font-family: 'Inter', sans-serif;
    color: #fff;
}

.contact .btn:hover {
    background: #22a379;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
}

footer {
    border-top: 1px solid #dadce0;
    padding: 20px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #202124;
}
.problem_contant {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    align-items: flex-end;
    width: 100%;
    justify-content: space-between;
    position: relative;
}

.problem_contant p {
    font-family: 'Inter', sans-serif;
    line-height: 1.8;
    color: #fff;
    width: 450px;
    margin: 0;
}

.problem_contant h1 span {
    font-weight: 400;
}

.problem_contant h1 {
    margin: 0;
    font-family: 'Secular One', sans-serif;
    font-weight: 400;
    font-size: 36px;
    color: #202124;
    flex: 0 0 50%;
    color: #20c18c;
}

.problem {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 100px;
    background: url(background.jpg);
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* .problem_contant h1 span b {
    font-weight: 400;
    background: -webkit-linear-gradient(#22a379 30%, #135881 85%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: capitalize;
}

.problem_contant h1 span {
    background: -webkit-linear-gradient(#22a379 30%, #135881 85%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */
.logo {
    text-align: center;
    padding: 50px 0;
}

.logo img {
    margin-left: -70px;
    height: 62px;
}

.contact_section {
    width: 100%;
}

.wait-list h3 {
    margin: 0 0 28px 0;
    font-size: 21px;
    font-weight: 500;
    letter-spacing: normal;
    line-height: 36px;
    color: #202124;
    font-family: 'Secular One', sans-serif;
}

.wait-list {
    display: flex;
    flex-direction: column;
    padding-left: 24px;
    margin-left: 24px;
    border-left: 1px solid #dadce0;
    padding-top: 4px;
    padding-bottom: 4px;
}

.input_container label {
    color: #202124;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    background: #f8f9fa;
    margin-left: 10px;
    display: inline-block;
    position: absolute;
    z-index: 1;
    padding: 0 6px;
    top: -8px;
}

.input_container input {
    border: 1px solid #afafaf;
    background: transparent;
    border-radius: 8px;
    height: 44px;
    display: block;
    position: relative;
    width: 340px;
    outline: none;
    padding: 0 16px;
    font-family: 'Inter', sans-serif;
    color: #202124;
    font-weight: 600;
}

.input_container {
    margin-bottom: 18px;
    position: relative;
}

.wait-list .btn {
    margin-right: auto;
    width: 101px;
    min-height: 17px;
    min-width: auto;
    padding: 10px 0;
}


.input_container input:hover {
    background: #efefef;
}

.input_container input:hover + label {
    background: linear-gradient(to bottom, #f8f9fa 50%, #efefef 50%);
}

.input_container input:focus {
    background: #fff !important;
    box-shadow: 0 1px 2px rgb(60 64 67 / 15%), 0 2px 6px 2px rgb(60 64 67 / 7%);
}

.input_container input:focus + label {
    background: linear-gradient(to bottom, #f8f9fa 50%, #fff 50%) !important;
}
.problem_img {
    position: absolute;
    background: hsl(0deg 0% 0% / 80%);
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

@media only screen and (max-width: 1030px) {

}

@media only screen and (max-width: 530px) {
    .logo img {display: block;margin: 0 auto;}

    .problem_contant {
        flex-direction: column;
    }
    
    .problem_contant p {
        width: auto;
    }
    
    .problem_contant h1 {
        text-align: center;
        font-size: 25px;
        margin-bottom: 20px;
    }

    .problem {
        margin-bottom: 60px;
    }
    
    .solution {
        flex-direction: column;
        padding: 0 30px;
        margin-bottom: 0;
    }
    
    .solution_item {
        margin: 0 0 40px 0;
        font-size: 16px;
        padding: 24px;
        border-radius: 24px;
    }
    
    .about {
        border-radius: 0;
        padding: 30px;
    }

    .team {
        padding: 30px;
    }
    
    .team h2 {
        text-align: center;
        font-size: 25px;
        margin-bottom: 30px;
    }
    
    .team_container {
        flex-direction: column;
    }
    
    .tem_item {
        margin-bottom: 30px;
        margin-right: 0;
    }
    
    .tem_item:last-child {
        margin-bottom: 10px;
    }
    
    .contact {
        padding: 30px;
    }
    
    .contact_container {
        flex-direction: column;
    }
    
    .contact h2 {
        font-size: 25px;
        margin-bottom: 16px;
    }
    
    .contact p {
        font-size: 16px;
        margin-bottom: 30px;
    }
    
    .contact_section {
        margin-bottom: 50px;
    }
    
    .wait-list {
        padding: 24px 0 0 0;
        margin-left: 0;
        border-left: 0;
        border-top: 1px solid #dadce0;
    }
    
    .input_container input {
        width: 100%;
    }
    
    .input_container {
        margin-bottom: 30px;
    }
    
    .wait-list h3 {
        font-size: 18px;
    }
    
    footer {
        font-size: 12px;
    }
    
    .contact_section .btn {margin-right: auto;min-height: 17px;min-width: auto;padding: 10px 20px;}
}
